importFrom ("methods", "new")
importFrom ("utils", "head", "tail")
exportPattern("^[^\\.]")
S3method ("[", SectMatrix)
S3method ("[<-", SectMatrix)
S3method ("[[", ObjectArray)
S3method ("[[<-", ObjectArray)
S3method ("[[", NestMatrix)
S3method ("[[<-", NestMatrix)
S3method ("[[", SectMatrix)
S3method ("[[<-", SectMatrix)
S3method (dim, ObjectArray)
S3method (dim, NestMatrix)
S3method (dim, SectMatrix)
S3method (print, VectorLike)
S3method (format, ObjectArray)
S3method (format, NestMatrix)
S3method (format, SectMatrix)
S3method (as.matrix, SectMatrix)
S3method (objtag, default)
S3method (objtag, ObjectArray)
S3method (objtag, NestMatrix)
S3method (objtag, SectMatrix)
S3method (objtag, PartMatrix)
S3method (objtag, "function")
S3method (objtag, list)
S3method (objtag, matrix)
S3method (objtag, data.frame)
S3method (head, VectorLike)
S3method (tail, VectorLike)
S3method (headt, default)
S3method (headt, ObjectArray)
S3method (headt, MatrixLike)
S3method (headt, matrix)
S3method (headg, data.frame)
S3method (headt, data.frame)
