importFrom ("methods", "as", "is", "new")
importFrom("grDevices", "as.raster", "col2rgb", "hcl", "is.raster", "rgb")
importFrom("graphics", "abline", "axis", "box", "lines", "par", "plot.new", "plot.window", "polygon", "title", "points", "rasterImage", "text")
importFrom ("utils", "head", "tail")
exportPattern("^[^\\.]")
S3method ("[", ObjectArray)
S3method ("[[", ObjectArray)
S3method ("[[<-", ObjectArray)
S3method ("[[", NestMatrix)
S3method ("[[<-", NestMatrix)
S3method ("[[", PartMatrix)
S3method ("[[<-", PartMatrix)
S3method (length, ObjectArray)
S3method (length, SectMatrix)
S3method (dim, ObjectArray)
S3method (dim, SectMatrix)
S3method (dimnames, ObjectArray)
S3method (dimnames, SectMatrix)
S3method ("dimnames<-", ObjectArray)
S3method ("dimnames<-", SectMatrix)
S3method (as.list, ObjectArray)
S3method (as.matrix, NestMatrix)
S3method (as.matrix, SectMatrix)
S3method (format, ZERO)
S3method (format, ObjectArray)
S3method (format, SectMatrix)
S3method (objtag, default)
S3method (objtag, Zero)
S3method (objtag, ObjectArray)
S3method (objtag, NestMatrix)
S3method (objtag, PartMatrix)
S3method (objtag, SectMatrix)
S3method (objtag, MatrixArray)
S3method (objtag, "function")
S3method (objtag, list)
S3method (objtag, matrix)
S3method (objtag, data.frame)
S3method (rep, MatrixArray)
S3method (rep2, MatrixArray)
S3method (ghead, data.frame)
S3method (headt, default)
S3method (headt, ObjectArray)
S3method (headt, MatrixLike)
S3method (headt, matrix)
S3method (headt, data.frame)
S3method (headt, raster)
S3method ("[",GeomArray)
S3method ("[", ImageArray)
S3method ("[", MatrixArray)
S3method ("[[<-", GeomArray)
S3method (as.list, MImage)
S3method (as.matrix, SImage)
S3method (c, ObjectArray)
S3method (head, VecLike)
S3method (head, raster)
S3method (objtag, GeomArray)
S3method (objtag, GeomObject)
S3method (objtag, RImage)
S3method (objtag, ImageArray)
S3method (plot, VecLike)
S3method (plotv, GeomArray)
S3method (plotv, Grid)
S3method (plotv, ImageArray)
S3method (plotv, Line)
S3method (plotv, Points)
S3method (plotv, Polygon)
S3method (plotv, RImage)
S3method (plotv, Text)
S3method (plotv, VImage)
S3method (print, GeomObject)
S3method (print, MImage)
S3method (print, SImage)
S3method (print, VecLike)
S3method (range, GeomArray)
S3method (range, Grid)
S3method (range, Line)
S3method (range, Points)
S3method (range, Polygon)
S3method (range, Text)
S3method (range, VImage)
S3method (rep, GeomArray)
S3method (rep, ImageArray)
S3method (rep, ObjectArray)
S3method (rep2, GeomArray)
S3method (rep2, ImageArray)
S3method (rep2, ObjectArray)
S3method (tail, VecLike)
S3method (tail, raster)
S3method (vt3.proj, GeomArray)
S3method (vt3.proj, Grid)
S3method (vt3.proj, Line)
S3method (vt3.proj, Point)
S3method (vt3.proj, Polygon)
S3method (vt3.proj, Text)
S3method (as.raster, SImage)
S3method (as.raster, MImage)
