importFrom ("methods", "is", "new")
importFrom("graphics", "abline", "axis", "box", "lines", "par", "plot.new", "plot.window", "polygon", "title")
importFrom ("utils", "head", "tail")
exportPattern("^[^\\.]")
S3method ("[", ObjectArray)
S3method ("[[", ObjectArray)
S3method ("[[<-", ObjectArray)
S3method ("[[", NestMatrix)
S3method ("[[<-", NestMatrix)
S3method ("[[", PartMatrix)
S3method ("[[<-", PartMatrix)
S3method (length, ObjectArray)
S3method (length, SectMatrix)
S3method (dim, ObjectArray)
S3method (dim, SectMatrix)
S3method (dimnames, ObjectArray)
S3method (dimnames, SectMatrix)
S3method ("dimnames<-", ObjectArray)
S3method ("dimnames<-", SectMatrix)
S3method (as.list, ObjectArray)
S3method (as.matrix, NestMatrix)
S3method (as.matrix, SectMatrix)
S3method (print, VectorLike)
S3method (format, ZERO)
S3method (format, ObjectArray)
S3method (format, SectMatrix)
S3method (objtag, default)
S3method (objtag, ZERO)
S3method (objtag, ObjectArray)
S3method (objtag, NestMatrix)
S3method (objtag, PartMatrix)
S3method (objtag, SectMatrix)
S3method (objtag, MatrixArray)
S3method (objtag, "function")
S3method (objtag, list)
S3method (objtag, matrix)
S3method (objtag, data.frame)
S3method (c, MatrixArray)
S3method (rep, MatrixArray)
S3method (rep2, MatrixArray)
S3method (head, VectorLike)
S3method (tail, VectorLike)
S3method (ghead, data.frame)
S3method (headt, default)
S3method (headt, ObjectArray)
S3method (headt, MatrixLike)
S3method (headt, matrix)
S3method (headt, data.frame)
